/build
/source/build
*.mode1v3
*.pbxuser
*.pbxindex/
!user.pbxuser
/*.log
*.user
*.ncb
*.suo
*.pdb
*.pdf
*.html
*.idb
*.o
*.lo
*.a
*.so
*.so.0
*.la
.deps
.libs
*.pyc
.DS_Store
# Emacs and other editor backup files
*~

# builds on Windows
Debug/
Release/
release/

Debug NASM/
Release NASM/
/config.h

/ACM/ADbg/Makefile
/ACM/Makefile
/ACM/ddk/Makefile
/ACM/tinyxml/Makefile
/Dll/Makefile
/Makefile
/config.log
/config.status
/debian/Makefile
/doc/Makefile
/doc/html/Makefile
/doc/man/Makefile
/dshow/Makefile
/frontend/Makefile
/include/Makefile
/lame.spec
/libmp3lame/.libs/
/libmp3lame/Makefile
/libmp3lame/Makefile.in
/libmp3lame/i386/Makefile
/libmp3lame/vector/Makefile
/libtool
/mac/Makefile
/macosx/English.lproj/Makefile
/macosx/LAME.xcodeproj/Makefile
/macosx/Makefile
/misc/Makefile
/mpglib/Makefile
/stamp-h1
/x86-unknown-linux/